html, body, .container 
{
	height: 100%;
	width: 
}
.main
{
	height: calc(100% - 200px);

	display: flex;
	flex-direction: row;
}
.menu, .header, .footer
{
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #2becde;
}
div.header
{
	display: flex;
	justify-content: space-around;
	height: 100px;
	background-color: #987188;
}
div.footer
{
	height: 100px;
	background-color: pink;
}

.navbar-brand
{
	width: 100px;
	height: 100px;
}
.navbar
{
	align-items: center;
	width: 100%;
}