html, body, .container 
{
	height: 100%;
	min-width: 300px;

}
.main
{
	height: calc(100% - 200px);

	display: flex;
	flex-direction: row;
}
.menu, .header, .footer
{
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #2becde;
}
div.header
{
	display: flex;
	justify-content: space-around;
	min-height: 100px;
	background-color: #987188;
	overflow-y: auto;
}
.navbar
{
	align-items: center;
	width: 100%;
}
.navbar-light .navbar-nav .nav-link:hover
{
	color: white;
	transition: 0.2s;
}
.navbar-light .navbar-nav .nav-link.disabled
{
	color:rgba(0, 0, 0, 0.3) ;
}
.navbar-light .navbar-nav .nav-link.active
{
	color:rgba(255, 255, 255, 0.7) ;
}
.btn.btn-outline-success.my-2.my-sm-0
{
	background-color: yellow;
	color: green;
}
.btn.btn-outline-success.my-2.my-sm-0:hover
{
	background-color: green;
	color: white;
	transition: 0.2s;
}
.content
{
	position: relative;
}
#carouselExampleSlidesOnly
{
	max-height: 600px;
	max-width: 700px;

	width: 100%;
}
div.footer
{
	height: 100px;
	background-color: pink;
}
