html, body
{
	box-sizing: border-box;
	height: 100%;
}
div
{
	box-sizing: border-box;
	text-align: center;
}
.header
{
	min-height: 100px;
	background-color: olive; 
}
.container
{ 
	margin: 5px 0; 
	height: calc(100% - 200px);

	display: flex;
	flex-direction: row;

}
.sidebar
{
	min-width: 100px;
	background-color: blue; 
}
.content
{ 
	margin-left: 5px;
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
}
.main-content
{
	height: calc(100% - 105px);
	background-color: orange;
}
.other-content
{
	margin-top: 5px;
	min-height: 100px;
	background-color: green; 
}
.footer
{
	min-height: 100px;
	background-color: red; 	
}

