html, body
{
	height: 100%;
	box-sizing: border-box;
}
div
{
	text-align: center;
	vertical-align: middle;
	box-sizing: border-box;
}
.header
{
	min-height: 100px;
	background-color: olive; 
}
.container
{ 
	margin: 5px 0; 
	height: calc(100% - 200px);
}
.sidebar
{
	margin-right: 5px; 
	min-width: 100px;
	height: 100%;
	float: left; 
	background-color: blue; 
	display: inline-block; 
}
.content
{  
	height: 100%;
	width: calc(100% - 105px);
	float: left; 
	display: inline-block; 
}
.main-content
{ 	
	margin-bottom: 5px;
	height: calc(100% - 105px);
	width: 100%;
	float: top;
	background-color: orange;
	display: inline-block; 
}
.other-content
{
	min-height: 100px;
	width: 100%;
	float: top;
	background-color: green; 
	display: inline-block; 
}
.footer
{
	margin-top: 5px;
	min-height: 100px;
	background-color: red; 	
}
/*span
{
display: table-cell;
vertical-align: middle;
}*/
