html, body
{
	box-sizing: border-box;
	height: 100%;
}
div
{
	box-sizing: border-box;
	text-align: center;
}
.header
{

	background-color: olive; 
	
	min-height: 100px;
}
.container
{ 
	height: calc(100% - 200px);
	margin: 5px 0; 
}
.container .sidebar
{
	display: inline-block; 
	float: left; 
	background-color: blue; 
	
	min-width: 100px;
	height: 100%;
	
	margin-right: 5px; 
}
.container .content
{  
	display: inline-block; 
	
	height: 100%;
	width: calc(100% - 105px); 
}
.content .main-content
{ 	
	display: inline-block; 
	float: top;
	background-color: orange;

	height: calc(100% - 105px);
	width: 100%;
	
	margin-bottom: 5px;
}
.content .other-content
{
	display: inline-block; 
	background-color: green; 

	min-height: 100px;
	width: 100%;
}
.footer
{
	background-color: red;

	margin-top: 5px;
	min-height: 100px;
}
.main-content .input-form
{
	max-width: 300px;
	min-width: 220px;
	margin-right: auto;
	margin-left: auto;
}
.input-form .input-row
{
	display: flex;
	justify-content: space-between;

	margin: 5px 0;
}
.input-row label
{
	vertical-align: middle;

	font-size: 12pt;
	font-weight: bold;
	color: maroon;
}
.checkbox label, .radio .radio-label
{
	display: inline-block;

	width: 14px;
	height: 14px;
	border: 2px solid #7a7a7a;
}
.radio .radio-label
{
	border-radius: 50%;
}
.checkbox input, .radio input
{
	display: none;
}
.checkbox label::after, .radio .radio-label::after
{
	content: " ";
	display: none;
	position: relative;
	left: 2px;
	top: 2px;

	width: 10px;
	height: 10px;
	background-color: black;
}
.radio .radio-label::after
{
	border-radius: 50%;
}

.checkbox input:checked ~ label::after, 
.radio input:checked ~ .radio-label::after
{
	display: block;
}

.input-row:hover>.checkbox input:not(:checked) ~ label::after, 
.radio:hover input:not(:checked) ~ .radio-label::after
{
	display: block;
	background-color: #7a7a7a;
}


