include ./_all_mixins.pug

nav.navbar.navbar-expand.navbar-light.bg-light
	a.navbar-brand= header.logo
	div.navbar-nav.navbar-expand.mr-auto
		+navA()
		
div.row
	div.col-3
		nav
			+navUl(navItems)
			+navUl(pages)