doctype html
html
	head
		meta(charset="UTF-8")
		title Home work 13

		link(rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.css")
		block head
	body
		div.container 
			block container
		script(src="/libs/jquery/jquery.js")
		script(src="/libs/bootstrap/js/bootstrap.bundle.js")
		block body