.tabs {
	width: 100px;
	height: 200px;

	border-style: solid;
	border-color: #aaa;
	border-width: 1px;

	display: flex;
	flex-direction: column;
}

.tabs .tabs-select {
	height: 25px;
	width: 100%;
}

.tabs .tabs-tabsContainer > * {
	display: none;
}

/*стили для выбранное вкладки*/
.tabs .tabs-tabsContainer>.tabs-container-tab-selected {
	display: block;
}
